@charset "UTF-8";

h1{
	color: #40ff00;
	font-size: 42px;
	font-family: "Comic Sans MS";
	border: 3px solid red;
	background-color: rgb(255, 255, 160);
	text-align: center;
	margin: 5px;
	padding: 10px;
}

#glavniDiv{
	background-color: #f2ccff;
	width: 100%;
	
}

.linkoviDiv{
	display: inline;
	background-color: #40ff00;
	width: 50%;
}

.linkoviDiv>span{
	color: blue;
}

#glavniDiv>p{
	color: #40ff00;
	font-size: 18px;
	font-family: "Comic Sans MS";
	text-align: center;
}

.dodajBalanceAdmin{
	margin: 10px;
	padding: 5px;
	border: 2px solid #34f4f7;
	background-color: #bbeced;
	width: 100%;
}

.prviDivAdmin{
	background-color: #c7d1d1;
	height: 500px;
}

.slikaAdmin{
	margin-top: 15px;
	margin-left: 100px;
	padding: 20px;
	align-content: center;
}

.nasloviAdmin{
	margin-left: 30px;
	font-size: 18px;
	font-family: "Comic Sans MS";
	text-align: center;
	color: #a174a3;
}